<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/homestyle.css">
    <link rel="stylesheet" href="../static/personal_training.css">
    <link rel="stylesheet" href="../static/meditation_classes.css">

    <title> Indian yoga </title>
</head>

<body>
    <!-- ***********************navbar*******************  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark sticky">
        <a class="navbar-brand" href="#">YOGA </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./about_us.html">About us <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./personal_training.html">Personal Training</a>
                        <a class="dropdown-item" href="./certified_training.html">Certified training</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="./meditation_classes.html">Meditation Classes</a>
                        <a class="dropdown-item" href="./meditation_center.html">Meditation center</a>
                    </div>
                </li>
                <li class="nav-item link">
                    <a class="nav-link" href="./contact.html">Contact us <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>

            </form>
        </div>
    </nav>


    <!-- *************************content of meditation classes ****************** -->
    <div class="container1">
        <p class="content">yoga is the best thing that we can give to our body , with it we can become more faster ,
            stronger , flexible . So to bring these qualities in your life we
            inter link all the yoga center all over the delhi and almost 200 yoga teachers are ready to works with us to
            provide the classes to you . Now in Delhi no one have to struggle for finding the yoga classes
            or personal trainer that all comes at one place . we are in the market since 4 years and get exellent
            reviews form the costumers as we provide them with the best of the result they were expacting from us
        </p>
        <img src="../static/yogaimg/yoga5.webp" class="rounded float-right" alt="yoga is the best exercise">
    </div>


    
    <!-- ******************************form ********************************* -->
    <div class="prsnl_trainer_form">
        <h3 id="signup">Join Meditation Classes  </h3>
        <form action="./meditation_classes.html" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input class="form-control" type="text" placeholder="Enter Your Name" name="name">                
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">age</label>
                <input class="form-control" type="text" placeholder="Enter Your age" name="age">                
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">address</label>
                <input class="form-control" type="text" placeholder="Enter Your address" name="address">                 
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">contact number</label>
                <input class="form-control" type="text" placeholder="Enter Your contact" name="contact">                 
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">nearest center</label>
                <select class="form-control" id="exampleFormControlSelect1" name="near_place">
                  <option>janakpuri</option>
                  <option>tilak nagar</option>
                  <option>matiala</option>
                  <option>dwarka</option>
                  <option>kirti nagar</option>
                  <option>rajori garden </option>
                </select>
              </div>
            <div class="form-group">
                <label for="exampleInputEmail1">registeration id</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="check">
                <label class="form-check-label" for="exampleCheck1">I agree</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-primary" href="./sign_up.html" role="button">Sign up</a>

            <div class="messege">( we will get back to you within 24 hrs )</div>
        </form>
    </div>


    <!-- ************************footer************************  -->
    <footer>
        <table class="table table-borderless table-dark ">
            <thead class="table1">
                <tr class="table1">
                    <th>branches</th>
                    <th>other facilities</th>
                    <th>contact</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table1">
                    <td class="table1">janakpuri</td>
                    <td>join with us</td>
                    <td>aurvedic seller</td>
                </tr>
                <tr>
                    <td>dwarka sec4 </td>
                    <td>become an affiliate</td>
                    <td>trainer</td>
                </tr>
                <tr>
                    <td>matiala</td>
                    <td>become a trainer</td>
                    <td>custumer care</td>
                </tr>
                <tr>
                    <td>kirti nagar</td>
                    <td>certificate</td>
                    <td>equipment celler</td>
                </tr>
                <tr>
                    <td>tilak nagar</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>rajori garden</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="foot">www.indianyoga.com</div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>