<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/homestyle.css">
    <link rel="stylesheet" href="../static/about_us.css">
    <link rel="stylesheet" href="../static/meditation_center.css">

    <title> Indian yoga </title>
</head>

<body>
    <!-- ******************* navbar ********************* -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark sticky">
        <a class="navbar-brand" href="#">YOGA </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item link">
                    <a class="nav-link" href="./about_us.html">About us <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./personal_training.html">Personal Training</a>
                        <a class="dropdown-item" href="./certified_training.html">Certified training</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="./meditation_classes.html">Meditation Classes</a>
                        <a class="dropdown-item" href="./meditation_center.html">Meditation center</a>
                    </div>
                </li>
                <li class="nav-item link">
                    <a class="nav-link" href="./contact.html">Contact us <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <!-- **********************content of meditation center *********************   -->
    <div class="container_center">
        <div class="container1">
            <img src="../static/yogaimg/yoga6.webp" class="rounded float-left" alt="yoga is the best exercise">
            <div class="content">
                <h3>JANAK PURI</h3>
                <p class="content">ADDRESS : 143-R , janak puri - C4 , New Delhi <br> TIMINGS : 4am-11am and 5pm-8pm
                    <br>
                    MENTOR : shri Yogi Aditya Nath <br>
                </p>
            </div>
        </div>

        <div class="container1">
            <div class="content">
                <h3>TILAK NAGAR </h3>
                <p class="content">ADDRESS : 13-z , Tilak Nagar , d-block , New Delhi <br> TIMINGS : 5am-11am and
                    5pm-9pm <br>
                    MENTOR : shri Narender Modi <br>
                </p>
            </div>
            <img src="../static/yogaimg/yoga7.jpg" class="rounded float-right" alt="yogic exercise">
        </div>

        <div class="container1">
            <img src="../static/yogaimg/yoga8.jpg" class="rounded float-left" alt="yoga is the best exercise">
            <div class="content">
                <h3>DWARKA SEC-4 </h3>
                <p class="content">ADDRESS : Dwarka Sports Complex , sec-4 , New Delhi <br> TIMINGS : 4am-10am and
                    5pm-9pm <br>
                    MENTOR : shri Amit Shah <br>
                </p>
            </div>
        </div>

        <div class="container1">
            <div class="content">
                <h3>KIRTI NAGAR </h3>
                <p class="content">ADDRESS : 162/h-78 , Kirti Nagar , A-block , New Delhi <br> TIMINGS : 6am-11am and
                    5pm-9pm <br>
                    MENTOR : shri Bharpai Devi <br>
                </p>
            </div>
            <img src="../static/yogaimg/yoga1.webp" class="rounded float-right" alt="yogic exercise">
        </div>

        <div class="container1">
            <img src="../static/yogaimg/yoga3.webp" class="rounded float-left" alt="yoga is the best exercise">
            <div class="content">
                <h3>RAJORI GARDEN </h3>
                <p class="content">ADDRESS : pacific mall , third floor , main hall , New Delhi <br> TIMINGS : 6am-10am
                    and 5pm-11pm <br>
                    MENTOR : shri Shikha Solanki <br>
                </p>
            </div>
        </div>

        <div class="container1">
            <div class="content">
                <h3> MATIALA </h3>
                <p class="content">ADDRESS : 151 , Matiala Village , Uttam Nagar , New Delhi <br> TIMINGS : 6am-11am and
                    5pm-9pm <br>
                    MENTOR : shri Rohan Solanki <br>
                </p>
            </div>
            <img src="../static/yogaimg/yoga2.webp" class="rounded float-right" alt="yogic exercise">
        </div>
    </div>



    <!-- ***********************footer****************************  -->
    <footer>
        <table class="table table-borderless table-dark ">
            <thead class="table1">
                <tr class="table1">
                    <th>branches</th>
                    <th>other facilities</th>
                    <th>contact</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table1">
                    <td class="table1">janakpuri</td>
                    <td>join with us</td>
                    <td>aurvedic seller</td>
                </tr>
                <tr>
                    <td>dwarka sec4 </td>
                    <td>become an affiliate</td>
                    <td>trainer</td>
                </tr>
                <tr>
                    <td>matiala</td>
                    <td>become a trainer</td>
                    <td>custumer care</td>
                </tr>
                <tr>
                    <td>kirti nagar</td>
                    <td>certificate</td>
                    <td>equipment celler</td>
                </tr>
                <tr>
                    <td>tilak nagar</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>rajori garden</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="foot">www.indianyoga.com</div>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>